/* START of css for "educating" page */

body{
    background-color: rgb(196, 212, 243);
    width: 1080px;
    margin-left: auto;
    margin-right: auto;
}

.introduction{
    margin: 0px;
    text-align: center;
    background-color: midnightblue; /*add url for bg image*/
    padding: 100px;
    color: rgb(219, 237, 253);
}

.explanation{
    background-color: rgb(162, 223, 162);
    text-align: center;
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: rgb(162, 223, 162);
    font-size: 1.1em;
}

.pros{
    background-color: darkseagreen;
    padding: 40px;
    text-align: center;
    font-size: 1.1em;
}

.benefits {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.tip{
    background-color: darkslategrey;
    color: beige;
    text-align: center;
    padding: 30px;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
}

.press{
    background-color: seagreen;
    padding-bottom: 40px;
    padding: 20px;
    text-align: center;
    font-size: 1.1em;
}

.call{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.cta{
    text-align: center;
    padding: 30px;
    width: 250px;
    border-radius: 20px;
    margin: 10px;
    background-color: lightgreen;
    color: black;
    text-decoration: none;
}

/* END of css for "educating" page */



/* START of css for "Budgeting" page */

.budget.int{
    margin: 0px;
    text-align: center;
    background-color: cadetblue;
    padding: 100px;
    color: black;
}

.budget.video{
    margin: 0px;
    text-align: center;
    background-color: paleturquoise;
    padding: 50px;
    color: black;
}

.budget.summary h2{
    text-align: center;
}

.budget.summary h3{
    text-align: center;
    width: 1080px;
    font-size: 1.2em;
}

.budget{
    background-color: darkseagreen;
    padding: 40px;
    text-align: center;
    font-size: 1.1em;
}

.rule1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: cornsilk;
    padding: 20px;
}

.point1 {
    background-color: lightpink;
    text-align: center;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    margin: 10px;
}

.rule2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: cornsilk;
    padding: 20px;
    margin-top: 10px;
}

.point2 {
    background-color: lightsalmon;
    text-align: center;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    margin: 10px;
}
.point2.adddneed1 {
    background-color: coral;
}

.point.sum{
    text-align: center;
    font-size: 1.2em;
    padding: 50px;
    background-color: teal;
    color: black
}

.route{
    text-align: center;
    padding-top: 50px;
    padding-bottom: 20px;
}
.route a{
    padding: 20px;
    background-color: cornsilk;
    border-radius: 20px;
    text-decoration: none;
}

/* END of css for "Budgeting" page */



/* START of css for "Saving" page */

.saving.int{
    margin: 0px;
    text-align: center;
    background-color: cadetblue;
    padding: 100px;
    color: black;
}

.saving.video{
    margin: 0px;
    text-align: center;
    background-color: paleturquoise;
    padding: 50px;
    color: black;
}

.saving.summary h2{
    text-align: center;
}

.saving.summary h3{
    text-align: center;
    width: 1080px;
    font-size: 1.2em;
}

.saving{
    background-color: darkseagreen;
    padding: 40px;
    text-align: center;
    font-size: 1.1em;
}

.key1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: cornsilk;
    padding: 20px;
}

.idea1 {
    background-color: lightpink;
    text-align: center;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    margin: 10px;
}

.key2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: cornsilk;
    padding: 20px;
    margin-top: 10px;
}

.idea2 {
    background-color: lightgray;
    text-align: center;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    margin: 10px;
}

.key3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    border-radius: 20px;
    background-color: cornsilk;
    padding: 20px;
    margin-top: 10px;
}

.idea3 {
    background-color: lightblue;
    text-align: center;
    padding: 30px;
    width: 260px;
    border-radius: 20px;
    margin: 10px;
}
