<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Educational Content</title>
    <link rel="stylesheet" href="/app/static/CSS/educating.css">
</head>

<body>
    {% extends "base.html" %}
    {% block body %}

    <div class="introduction">
        <h2 >Curious on how to manage you finance?</h2>
        Scroll down to find out more!
    </div>

    <section>
        <div class="explanation">
            <h3>What Is Financial Literacy?</h3>
            Financial literacy is the <b>ability to understand and effectively use various financial skills.</b><br>(including personal financial management, budgeting, and investing)
        </div>

        <div class="pros">
            <h3>Benefits of Financial Literacy</h3>
            <div class="benefits">
                <div class="tip b1">Enables you to make well-informed financial decisions</div>
                <div class="tip b2">Financial Independence</div>
                <div class="tip b3">Help to manage your money effectively</div>
                <div class="tip b4">Boost your ability to accumulate wealth over time</div>
                <div class="tip b5">Prepares you for any financial emergencies</div>
                <div class="tip b6">Helps you to reach your goals, like buying your own laptop etc.</div>
            </div>
        </div>

        <div class="press">
            <h3>Press to learn more about the different pillars of financial literacy!</h3>
            <div class="call">
                <a href="templates/budget.html" type="button" class="cta c1">Budgeting</a>
                <a href="templates/saving.html" type="button" class="cta c2">Saving</a>
                <a href="templates/expenses.html" type="button" class="cta c3">Expenses</a>
            </div>

        </div>
    </section>
{% endblock body %}
</body>
</html>
