<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Expenses</title>
    <link rel="stylesheet" href="/app/static/CSS/educating.css">
</head>

<body>
  {% extends "base.html" %}
  {% block body %}

  <div class="expenses int">
    <h1>Expenses</h1>
     Expenses management is one of the most important part in budgeting.
  </div>
  
  <div class="expenses video">
    <h2>Learn how to prioritise your expenses in the video below!</h2>
    <iframe width="450" height="280"
      src="https://www.youtube.com/embed/QO4q_Sl6c34?si=K97o8s6baiptF95z">
    </iframe>
  </div>
     

  <div class="expenses summary">
    <h2>To summarise on how to manage expenses</h2>

    <div class="ex1">
      <h3>Tracking money flow</h3>
      <div class="sum1 manage1">Writing down what you spend for a week gives you a clearer idea of how your money is coming in and going out.</div>
      <div class="sum1 manage2">Allow you to evaluate your financial habits over time to see what kinds of patterns emerge.</div>
    </div>
      

    <div class="ex2">
      <h3>Lowering monthly expenses</h3>
      <div class="sum2 low1">Recurring monthly costs like subscriptions can add up in the long run.</div>
      <div class="sum2 low2">Make a list to see if there is anything that you are willing to put on hold.</div>
    </div>
  </div>

{% endblock body %}
</body>
</html>
