<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Community Forum</title>
</head>
<body>
<!-- {% extends "base.html" %}
{% block body %} -->
<header>  <h1> Welcome to the Forum</h1></header>


<div id="one">
    <h2>How do I set up a savings account?</h2>
    <div class="header"><P class="content1">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Voluptatum officiis exercitationem mollitia vitae, ad quaerat sit magni molestias nihil delectus sint deserunt ducimus blanditiis nisi dolorem suscipit incidunt quod numquam!Lorem </P></div>
    <ul class="bottom">

        <li><button><a href="dummydata.html">25 comments</a></button></li>
        <li>likes</li>
        <li>share</li>
    </ul>


</div>
<div id="two">
    <h2>How do I create a bank account?</h2>
    <div class="header"><P class="content2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit cum assumenda quos totam quidem fugit quisquam ab quasi! Est architecto hic beatae veniam porro nobis delectus amet ullam nam enim.</P></div>
    <ul class="bottom">
        <li><button><a href="">45 comments</a></button></li>
        <li>likes</li>
        <li>share</li>

    </ul>

</div>
<h2>Add comments</h2>
<textarea> </textarea>
<button>Publish</button>

 {% endblock body %}
</body>
</html>