<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Budgeting</title>
</head>
<body>
    {% extends "base.html" %}
    {% block body %}
    <h1>Welcome to Budgeting Express!</h1>
    <p>
        Need help in managing your budgets! Say no more
        Here we help you to keep track of your budget and give you more heartache!
    </p>
    <h1>Join Us on the Journey TODAY!!!</h1>

    <div>
        <a href="login_page.html"> Log In </a>
    </div>
    <br>
    <div>
        <a href="Signup_page.html"> Sign Up </a>
    </div>

    <br>
    <br>
    <div>
        <div>for overview of features</div>
        <a href="Features.html">Features</a>

    </div>
    <br>
    <div>
        <div> summary of financial profile </div>
        <a href="Financial_Profile.html">Profile</a>
        
    </div>

    {% endblock body %}

</body>
</html>