<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome to Budgeting</title>
    <style>
        .Main_Container {
            display: grid; grid-template-rows: 200px 200px 200px 200px;}
        .Container {
            border: 2px black solid, }
    </style>
</head>
<body>
    {% extends "base.html" %}
    {% block body %}
    <div class=" Main_Container">
        <section class="Container C1">
            <h1>Welcome to Budgeting Express!</h1>
            <p>
                Need help in managing your budgets! Say no more <3
                Here we help you to keep track of your budget and give you more heartache!
            </p>
        </section>

        <section class="Container C2">
          overview of our company!
          we are very nice people YEAH!

        </section>

        <section class="Container C3">
          features that we have!
          comment forum
          expenses check
          tracking
          income
          goalsetting
          goal home
          educational content for our teenagers <3!

        </section>

        <footer class="Container C4">
            <p>Join us on the Journey TODAY!!</p>
            <div>
                 <button class="Log_Button"><a href="{{ url_for('auth.login') }}"> Log In </a></button>
                <button class="Log_Button" ><a href="{{ url_for('auth.signup') }}"> Sign Up </a></button>
            </div>

          <section>
            contact us bar!

          </section>
        </footer>
    </div>

    {% endblock body %}

</body>
</html>